  body {
    margin: 0;
    overflow-x: hidden;
    
    /* background-color: #8BC6EC; */
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);


  }

  #container {
    position: relative;
    width: 100%;
    height: 100%;
    /* transform: translateY(-50%); */
  }
  
  #my-button {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px;
    background-color: #f2f2f2;
    overflow-y: auto;
    border: none;
    cursor: pointer;
  }  
  
  .sidebar {
    position: fixed;
    top: 0;
    left: -200px;
    width: 200px;
    height: 100%;
    overflow-y: auto;
    transition: left 0.3s ease-in-out;
    padding: 20px;
  }
  
  .sidebar.open {
    left: 0;
  }
  
  .menu {
    list-style: none;
    background-color: #fff;
    padding: 0;
  }
  
  .menu li {
    margin-bottom: 20px;
    margin-top: 55px;
  }
  
  .menu li a {
    text-decoration: none;
    color: #030303;
  }
  
  #container-presentation {
    position: absolute;
    bottom: -35%;
    right: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 20px;
}

#presentation {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* max-width: 700px; */
  text-align: center;
}

#presentation img {
  border-radius: 50%;
  width: 80%;
  height: auto;
  max-width: 400px;
  display: block;
  margin: 0;
  position: relative;
  bottom: 17vh;
  right: 60vh;
}

#presentation h1 {
  font-size: 50px;
  margin-top: 50px;
  white-space: nowrap;
}

#presentation p {
  font-size: 18px;
  line-height: 1.5;
  margin-top: 30px;
  position: absolute;
  bottom: 50%;
  white-space: pre-wrap;
}
#my-button:focus + .sidebar {
  left: 0;
}

#my-button:focus {
  outline: none;
}
  
#my-button:focus + .sidebar .menu li a {
  opacity: 1;
  transition-delay: 0.3s;
}
  
.sidebar .menu li a {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  transition-delay: 0s;
}
  
  .close-sidebar {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }


  .skills-container {
    position: absolute;
    bottom: -65%;
    right: 82%;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .skills-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .skill {
    margin-bottom: 10px;
  }
  
  .skill-name {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .skill-bar {
    height: 10px;
    background-color: #ddd;
    border-radius: 20px;
    overflow: hidden;
  }
  
  .skill-level {
    height: 100%;
    background-color: #4CAF50;
    border-radius: 20px;
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
    color: #fff;
  }
  
  .project-container {
    position: absolute;
    bottom: -60%;
    right: 35%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
  }
  
  .project {
    width: 150px;
    height: 150px;
    margin: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .project:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-5px);
    transition: transform 0.3s ease-in-out;
  }
  
  .project img {
    width: 100%;
    height: 70%;
    object-fit: cover;
  }
  
  .project h3 {
    text-align: center;
    font-size: 24px;
    margin-top: 10px;
  }
  
  .project a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
  }
  

  .container-form {
    position: absolute;
    bottom: -55%;
    right: -55%;
    width: 80%;
    margin: auto;
  }
  
  form {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .form-group {
    width: 100%;
    margin-bottom: 20px;
  }
  
  label {
    font-size: 18px;
    font-weight: bold;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #3e8e41;
  }